.container {
  width: 20rem !important;
  height: fit-content;
  position: relative;
  box-shadow: -1rem 0 3rem #00000080;
}

.container-title {
  overflow-wrap: anywhere;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container-title__page {
  margin: 0;
  margin-right: 0.6em !important;
  padding: 0;
}

.container-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page {
  overflow-wrap: anywhere;
}

.page-date {
  position: absolute;
  background: #83c688;
  border-radius: 5px;
  padding: 0.2em;
  top: -25px;
  right: -10px;
}

.page-date__deadlain {
  position: absolute;
  background: #f48fb1;
  border-radius: 5px;
  padding: 0.2em;
  top: -25px;
  right: -10px;
}

.button-cards {
  font-weight: 500 !important;
}

.avatar {
  border-radius: 3px;
}
