.input-d {
  margin: 1em 0;
  height: 10em !important;
}

.box {
  width: 35vw !important;
}

.button-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 1425px) {
  .box {
    width: 80vw !important;
  }
}
